.container {
	max-width: 916px;
	margin: 0 auto;
	font-family: serif;
	font-weight: 400;
}

.title {
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: rgb(40, 40, 40);
	margin-bottom: 20px;
}

.text {
    margin: 0 0 20px 0;
	font-size: 17px;
	line-height: 20px;
	color: #000;
}

.text-accent {
    font-weight: bold;
}

.subtitle {
	margin-bottom: 20px;
	font-size: 17px;
	line-height: 20px;
	color: #000;
	font-weight: bold;
}

.table {
	width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.table-text {
    margin: 0;
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 17px;
	line-height: 20px;
	color: #282828;
}

.image {
    margin-bottom: 20px;
    width: 100%;
}