.clear-li {
  list-style-type: none;
}

.clear-ul {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.page {
  font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.header {
  color: #fff;
  z-index: 3;
}

.nav {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 95px;
  background-color: rgba(25, 23, 32, .47);
  z-index: 2;
}

.nav__links {
  color: #fff;
  z-index: 3;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
  margin-right: 7.85vw;
}

.nav__link:last-of-type {
  margin-right: 0;
}

.nav__icons {
  z-index: 2;
}

.nav__icon {
  margin-right: 3.19vw;
}

.nav__icon:last-of-type {
  margin-right: 0;
}

.banner {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  background-color: #2B2835;
  height: 616px;
  color: #fff;
}

.describe {
  max-width: 508px;
  margin-right: 135px;
  z-index: 3;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.subtitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  margin: 13px 0 0 0;
}

.cost {
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px;
  max-width: 355px;
  justify-content: space-between;
}

.price {
  font-size: 40px;
  line-height: 49px;
  color: #F2F2F2;
  margin: 0;
}

.button {
  box-sizing: border-box;
  background: #FFC700;
  border-radius: 100px;
  text-transform: uppercase;
  padding: 12px 48px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.button_color_black {
  background-color: #000;
  color: #fff;
}

.text {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #FFC700;
  margin: 0;
}

.banner__img {
  position: absolute;
  width: 855px;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  z-index: 2;
}

.choose-color__buttons {
  margin-top: 19px;
}

.choose-color__button {
  display: inline-block;
  margin-right: 14px;
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
}

.color-white {
  background-color: #fff;
}

.color-red {
  background-color: #DD5656;
}

.color-black {
  background-color: #000;
}

.choose-color__button:focus {
  border: 1px solid #000;
  border-radius: 50%;
  outline: none;
}

.container{
  box-sizing: border-box;
  padding: 70px 93px;
  position: relative;
  width: 100%;
}

.item__img {
  position: absolute;
  top: 47px;
  right: 54px;
  width: 52.43%;
}

.item {
  display: flex;
  margin-bottom: 170px;
}

.item__title {
  margin-top: 170px;
  font-size: 16px;
  line-height: 20px;
  color: #2B2835;
}

.item__subtitle {
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  color: #2B2835;
  margin-top: 7px;
  position: relative;
}

.item__subtitle::after {
  content: '+';
  box-sizing: border-box;
  position: absolute;
  top: -30px;
}

.choose-color__title {
  font-size: 40px;
  line-height: 55px;
  color: #2B2835;
  margin: 20px 0 0 0;
}

.choose-color__subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #2B2835;
  margin: 11px 0 0 0;
}

.item__cost {
  margin-top: 50px;
}

.item__price {
  color: #000;
}

.item__text {
  color: #000;
  opacity: 0.52;
}

.items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.item__min {
  background-color: #F8F8F9;
  width: 31.36%;
  position: relative;
}

.item__pic {
  width: 60%;
  position: absolute;
  top: 15px;
  left: 20%;
}

.items__describe {
  z-index: 1;
  max-width: 267px;
  margin: 84.47% 40px 45px 40px;
}

.items__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 55px;
  color: #2B2835;
  margin: 0;
}

.items__subtitle {
  font-size: 14px;
  line-height: 21px;
  color: #030303;
  margin: 4px 0 0 0;
}

.items__cost {
  max-width: 257px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
}

.items__price {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #9D8220;
}

.items__button {
  padding: 12px 33px;
}

.footer {
  background-color: #2B2835;
  box-sizing: border-box;
  padding: 60px 93px 20px 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.footer__container {
  width: 100%;
  display: flex;
  color: #fff;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 165px;
}

.footer__link {
  color: #fff;
  font-size: 14px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 0;
  opacity: 0.7;
}

.footer__sibtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: #FFFFFF;
  margin: 0 0 5px 0;
}

.footer__icon {
  width: 33px;
  height: 33px;
}

.copyright {
  margin-top: 70px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.31;
}
